celery>=3.1.18
cassandra-driver==3.6.0
flower>=0.8.3
fuzzywuzzy>=0.6.1
ipython>=5.1.0
lxml>=3.4.4
python-dateutil>=2.4.2
requests>=2.11.1
sendgrid>=1.4.0
beautifulsoup4>=4.4.0
pyftpdlib>=1.4.0
django==1.8.4
humanize==0.5.1
git+https://github.com/mitsuhiko/jinja2.git#egg=Jinja2
django-easy-pjax>=1.2.0
django-cassandra-engine>=0.5.2
untangle>=1.1.0
mendeley>=0.3.2
spur>=0.3.15
nltk>=3.2.1
numpy>=1.11.0
boto3>=1.4.1
