{% extends "base_single_col.html" %}

{% block body_class %}external-notification-report{% endblock %}
{% block content %}
    <div class="row notification-report-header-row">
        <div class="col-md-6">
            Logo
        </div>
    </div>
    <div class="row notification-report-tile-row">
        <div class="col-md-12">
            This is a tile with text.
        </div>
    </div>
    <div class="row notification-report-tile-row">
        <div class="col-md-12">
            <div id="tableau-1" style="width:870px; height:400px;"></div>
        </div>
    </div>
    <div class="row notification-report-tile-row">
        <div class="col-md-12">
            Another text tile.
        </div>
    </div>
    <div class="row notification-report-tile-row">
        <div class="col-md-12">
            <div id="tableau-2" style="width:870px; height:700px;"></div>
        </div>
    </div>
{% endblock %}

{% block page_scripts %}
    <script src="http://onlinehelp.tableau.com/current/api/js_api/en-us/Resources/Code/tableau-2.js"></script>
    <script>
        function initializeViz(divSelector, url) {
            var placeholderDiv = document.getElementById(divSelector);
            console.log(url);
            var options = {
                width: placeholderDiv.offsetWidth,
                height: placeholderDiv.offsetHeight,
                hideTabs: false,
                hideToolbar: false,
                onFirstInteractive: function () {
                    workbook = viz.getWorkbook();
                    activeSheet = workbook.getActiveSheet();
                },
                "Article Type": "At a Glance"
            };
            new tableau.Viz(placeholderDiv, url, options);
        }

        $(function() {
            // var url = "http://login.vizors.org/#/views/AdvanceCorrelatorofCitationsUsage_19/Section-to-SectionComparator";
            var url = "http://10.0.0.143/trusted/Hpy6vVYjOIIqKpqiDXTKWZVK/views/RejectedArticleTracker_5/Overview";
            initializeViz('tableau-1', url);
{#            initializeViz('tableau-2', "http://public.tableau.com/views/WorldIndicators/GDPpercapita");#}
{#            initializeViz('tableau-3', "http://public.tableau.com/views/WorldIndicators/GDPpercapita");#}
        });

    </script>
{% endblock %}
