{% extends "base_standard.html" %}
{% load filters %}
{% load tags %}
{% block title %}Edit {{ mapping_type_display }} Mappings{% endblock %}
{% block body_class %}value_mappings{% endblock %}

{% block content %}
    <div id="edit-value-mappings-page">
        <div class="row header-row with-breadcrumb">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="{% url 'value_mappings.list_mappings' %}">All Mappings</a></li>
                    <li>{{ publisher.name }}</li>
                    <li></li>
                </ol>
                <h1>Edit {{ mapping_type_display }} Mappings</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="page-instructions">Edit the mappings in the table below and then click the update button to initiate an update to reports
                    with the edited values.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="mapping-table-controls">
                    <a href="#" class="left-link show-all-mappings-link">Show All Values</a>
                    <a href="#" class="left-link hide-all-mappings-link">Hide All Values</a>
                    <a class="btn btn-primary update-reports-button" href="#">Update Reports With New Mappings</a>
                    <i class="fa fa-spinner fa-pulse update-reports-spinner" style="display:none"></i>
                    <span class="running-pipeline-message" style="display:none">Updating reports now, you'll receive an email when complete...</span>
                </div>
            </div>
        </div>
        <div class="all-mapping-containers">
            {% for mapping in mappings %}
                {% include "value_mappings/include/mapping_container.html" %}
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-md-9">
                {% if num_pages > 1 %}
                    <nav class="text-center">
                        <ul class="pagination pagination-sm">
                            {% if current_page > 1 %}
                                <li>
                                    <a class="prev" href="?page={{ current_page|add:"-1" }}" aria-label="Previous">
                                    <span aria-hidden="true">
                                        <i class="fa fa-angle-double-left"></i>
                                    </span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if low_page > 1 %}
                                <li>
                                    <a href="?page=1">1</a>
                                </li>
                                {% if low_page > 2 %}
                                    <li class="disabled">
                                        <span>...</span>
                                    </li>
                                {% endif %}
                            {% endif %}
                            {% for page in all_pages %}
                                <li class="{% if page == current_page %}active{% endif %}">
                                    <a href="?page={{ page }}">{{ page }}</a>
                                </li>
                            {% endfor %}
                            {% if high_page < num_pages %}
                                <li class="disabled">
                                    <span>...</span>
                                </li>
                                <li class="{% if page == current_page %}active{% endif %}">
                                    <a href="?page={{ num_pages }}">{{ num_pages }}</a>
                                </li>
                            {% endif %}
                            {% if current_page < num_pages %}
                                <li>
                                    <a class="next" href="?page={{ current_page|add:"1" }}" aria-label="Next">
                                    <span aria-hidden="true">
                                        <i class="fa fa-angle-double-right"></i>
                                    </span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block page_scripts %}
    <script>
        $(function () {
            $('#edit-value-mappings-page').editvaluemappingspage({
                publisherId: '{{ publisher_id }}',
                mappingType: '{{ mapping_type }}',
                initialCanonicalChoices: {{ canonical_choices|safe }},
                csrfToken: '{{ csrf_token }}'
            });
        });
    </script>
{% endblock %}
