{% extends "base_standard.html" %}
{% load tags %}
{% block title %}Value Mappings{% endblock %}
{% block body_class %}value_mappings{% endblock %}

{% block content %}
    <div id="list-value-mappings-page">
        <div class="row header-row">
            <div class="col-md-12">
                <h1>Value Mappings</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table sortable-table">
                    <thead>
                    <tr>
                        <th class="label-col">Publisher</th>
                        <th>Mapping</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for mapping in mappings_by_publisher %}
                            <tr>
                                <td>{{ mapping.publisher_name }}</td>
                                <td><a href="{% url 'value_mappings.edit' mapping.publisher_id mapping.mapping_type %}">{{ mapping.mapping_type }}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
