<tr class="file-row file-row-{{ file_id }} {% if not validation_errors %}validated-file{% endif %}" file_id="{{ file_id }}">
    <td class="status-icon-col">
        {% if validation_errors %}
            <span class="lnr lnr-warning file-status-icon error"></span>
        {% else %}
            <span class="lnr lnr-checkmark-circle file-status-icon success"></span>
        {% endif %}
    </td>
    <td class="file-icon-col">
        <span class="lnr lnr-file-spreadsheet file-icon {% if validation_errors %}error{% endif %}"></span>
    </td>
    <td class="text-only-col">
        {{ file_name }}
    </td>
    <td class="text-only-col line-count-col">{% if not is_demo %}{{ line_count }}{% endif %}</td>
    <td class="text-only-col file-size-col">{{ file_size }}</td>
    <td class="text-only-col file-status-col">
        {% if validation_errors %}
            <a href="#" class="show-errors-link">{{ validation_errors|length }} error{{ validation_errors|pluralize }}</a>
        {% else %}
            <span class="success-message">Validated</span>
        {% endif %}
    </td>
    <td class="delete-file-col">
        {% if not read_only and not validation_errors %}
            <a file_to_delete="{{ file_name }}" product_id="{{ product.id }}" pipeline_id="{{ pipeline.id }}" file_type="{% if is_demo %}demo{% else %}product{% endif %}" class="btn btn-default submit-button delete-file-button">
                <span class="lnr lnr-trash2"></span>
            </a>
        {% endif %}
    </td>
</tr>

{% if validation_errors %}
    <tr class="error-list-row file-row-{{ file_id }}" file_id="{{ file_id }}">
        <td></td>
        <td></td>
        <td colspan="5" class="validation-error-table-col">
            <table class="table validation-error-table">
                <tbody>
                    {% for error in validation_errors %}
                        <tr>
                            <td class="line-number-col">{{ error.line_number }}</td>
                            <td class="message">{{ error.message }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td><span class="lnr lnr-arrow-right replacement-file-arrow"></span></td>
                        <td class="upload-replacement-col">
                            This file was rejected, please fix and try again:
                            <form class="inline-upload-form" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ product.id }}">
                                <input type="hidden" name="pipeline_id" value="{{ pipeline.id }}">
                                {% if is_demo %}
                                    <input type="hidden" name="file_type" value="demo">
                                    <input type="hidden" name="demo_id" value="{{ demo_id }}">
                                {% else %}
                                    <input type="hidden" name="file_type" value="publisher">
                                    <input type="hidden" name="publisher_id" value="{{ publisher_id }}">
                                {% endif %}
                                <input type="hidden" name="ui_type" value="replacement">
                                <div class="inline-upload-form-controls">
                                    <input class="replacement-file-picker" id="id_file_{{ file_index }}" name="files" type="file" ui_type="replacement">
                                    {% if pipeline.has_second_level_validation %}
                                        <input type="checkbox" class="second-level-validation" id="id_second_level_validation_{{ file_index }}" name="second_level_validation" value="1">
                                        {% if pipeline.second_level_validation_label %}
                                            {{ pipeline.second_level_validation_label }}
                                        {% else %}
                                            Validate all rows
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
{% endif %}

<tr class="loading-row file-row-{{ file_id }}" file_id="{{ file_id }}" style="display:none">
    <td><i class="fa fa-spinner fa-pulse loading-spinner"></i></td>
    <td colspan="6" class="loading-message">Uploading replacement file...</td>
</tr>

{% if inline %}
    <script>
        $(function() {
            FileUploadWidget.wireUpFilePickers('.file-row-{{ file_id }} .replacement-file-picker');
            FileUploadWidget.wireUpDeleteButtons('.file-row-{{ file_id }} .delete-file-button');
            FileUploadWidget.updateTable();
            PendingFilesForm.updateSubmitForProcessing();
        });
    </script>
{% endif %}
