{% extends "base_standard.html" %}
{% load tags %}
{% block title %}Citable Sections{% endblock %}
{% block body_class %}citable-sections{% endblock %}

{% block content %}
    <div class="row header-row">
        <div class="col-md-12">
            <h1>Citable Sections</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table sortable-table alerts-table">
                <thead>
                    <tr>
                        <th>{% sort_column "Journal Code" "journal_code" sort_key sort_descending %}</th>
                        {% if not single_publisher_user %}
                            <th>{% sort_column "Publisher ID" "publisher_id" sort_key sort_descending %}</th>
                        {% endif %}
                        <th>{% sort_column "Electronic ISSN" "electronic_issn" sort_key sort_descending %}</th>
                        <th>{% sort_column "Print ISSN" "print_issn" sort_key sort_descending %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for journal in journals %}
                        <tr>
                            <td>
                                <a href="{% url 'citable_sections.choose_citable_sections' journal.publisher_id journal.uid %}">
                                    {{ journal.journal_code }}
                                </a>
                            </td>
                            {% if not single_publisher_user %}
                                <td>{{ journal.publisher_id }}</td>
                            {% endif %}
                            <td>{{ journal.electronic_issn }}</td>
                            <td>{{ journal.print_issn }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
