{% extends "base_standard.html" %}
{% load filters %}
{% load tags %}
{% block title %}{{ pipeline_id|pipeline_name }}{% endblock %}
{% block body_class %}{{ pipeline_id }}_pipeline{% endblock %}

{% block content %}
    <div class="row header-row">
        <div class="col-md-8">
            <h1>{{ pipeline_id|pipeline_name }}</h1>
            <ul class="list-tabs">
                <li><a href="#" class="active">All</a></li>
                <li><a href="#">Running</a></li>
                <li><a href="#">Completed</a></li>
                <li><a href="#">Failed</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="opener-col"></th>
                        <th></th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th class="status-col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for publisher_runs in runs_by_publisher %}
                        <tr>
                            <td class="opener-col"><span class="lnr lnr-chevron-down opener-icon"></span></td>
                            <td>
                                <a href="#">
                                    {{ publisher_runs.publisher.display_name }}
                                </a>
                            </td>
                            <td></td>
                            <td></td>
                            <td class="status-col"></td>
                        </tr>
                        {% if publisher_runs.runs %}
                            {% for run_item in publisher_runs.runs %}
                                <tr>
                                    <td class="opener-col"></td>
                                    <td class="run-col">{{ run_item.run.job_id }}</td>
                                    <td>{{ run_item.run.start_time }}</td>
                                    <td>{{ run_item.run.end_time }}</td>
                                    <td class="status-col">
                                        {% status_icon run_item.run %}
                                    </td>
                                </tr>
                                {% for task in run_item.tasks %}
                                    <tr>
                                        <td class="opener-col"></td>
                                        <td class="task-col">{{ task.task_id }}</td>
                                        <td>{{ task.start_time }}</td>
                                        <td>{{ task.end_time }}</td>
                                        <td class="status-col">
                                            {% status_icon task %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td class="opener-col"></td>
                                <td class="run-col">No recent runs</td>
                                <td></td>
                                <td></td>
                                <td class="status-col"></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block page_scripts %}
    <script>
        $(function() {
            // nothing
        });
    </script>
{% endblock %}
