{% extends "base_standard.html" %}
{% load filters %}
{% block title %}{{ pipeline_id|pipeline_name }}{% endblock %}
{% block body_class %}{{ pipeline_id }}_pipeline{% endblock %}

{% block content %}
    <div class="row header-row">
        <div class="col-md-8">
            <h1>{{ pipeline_id|pipeline_name }}</h1>
            <ul class="list-tabs">
                <li><a href="#" class="active">All</a></li>
                <li><a href="#">Running</a></li>
                <li><a href="#">Completed</a></li>
                <li><a href="#">Failed</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="opener-col"></th>
                        <th></th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th class="status-col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for publisher_status in status_by_publisher %}
                        <tr>
                            <td class="opener-col"><span class="lnr lnr-chevron-down opener-icon"></span></td>
                            <td>
                                <a href="#">
                                    {{ publisher_status.publisher.display_name }}
                                </a>
                            </td>
                            <td></td>
                            <td></td>
                            <td class="status-col"></td>
                        </tr>
                        {% if publisher_status.status_items %}
                            {% for status_item in publisher_status.status_items %}
                                <tr>
                                    <td class="opener-col"></td>
                                    <td class="run-col">{{ status_item.job_id }}</td>
                                    <td>{{ status_item.start_time }}</td>
                                    <td>{{ status_item.end_time }}</td>
                                    <td class="status-col"></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td class="opener-col"></td>
                                <td class="run-col">No recent runs</td>
                                <td></td>
                                <td></td>
                                <td class="status-col"></td>
                            </tr>
                        {% endif %}
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block page_scripts %}
    <script>
        $(function() {
            // nothing
        });
    </script>
{% endblock %}
