{% extends "base_standard.html" %}
{% load tags %}
{% block title %}Journals{% endblock %}
{% block body_class %}journals{% endblock %}

{% block content %}
    {% if publisher %}
        <div class="row header-row with-breadcrumb">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="{% url 'publishers.list' %}">Publishers</a></li>
                    <li><a href="{% url 'publishers.edit' publisher.publisher_id %}">{{ publisher.name }}</a></li>
                    <li></li>
                </ol>
                <h1>Journals</h1>
            </div>
        </div>
    {% else %}
        <div class="row header-row">
            <div class="col-md-12">
                <h1>Journals</h1>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <table class="table sortable-table alerts-table">
                <thead>
                    <tr>
                        <th>{% sort_column "Journal" "publisher_id" sort_key sort_descending %}</th>
                        <th>{% sort_column "Electronic ISSN" "electronic_issn" sort_key sort_descending %}</th>
                        <th>{% sort_column "Print ISSN" "print_issn" sort_key sort_descending %}</th>
                        <th>Citable Sections</th>
                    </tr>
                </thead>
                <tbody>
                    {% for journal in journals %}
                        <tr>
                            <td>
                                {% if not single_publisher_user %}
                                    <span class="journal-publisher-id">
                                        {{ journal.publisher_id }} /
                                    </span>
                                {% endif %}
                                {{ journal.journal_code }}
                            </td>
                            <td>{{ journal.electronic_issn }}</td>
                            <td>{{ journal.print_issn }}</td>
                            <td>
                                {% if publisher %}
                                    <a href="{% url 'publishers.journals.choose_citable_sections' journal.publisher_id journal.uid %}?from=publisher-journals">
                                        {{ journal.num_citable_sections }} citable section{{ journal.num_citable_sections|pluralize }}</td>
                                    </a>
                                {% else %}
                                    <a href="{% url 'journals.choose_citable_sections' journal.publisher_id journal.uid %}">
                                        {{ journal.num_citable_sections }} citable section{{ journal.num_citable_sections|pluralize }}</td>
                                    </a>
                                {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
