{% extends "base_standard.html" %}
{% load filters %}
{% load tags %}
{% block title %}{% if demo %}{{ demo.pubisher_name }}{% else %}New Demo{% endif %}{% endblock %}
{% block body_class %}demo new-publisher new-demo{% endblock %}

{% block content %}
    <div class="row header-row with-breadcrumb">
        <div class="col-md-8">
            <ol class="breadcrumb">
                <li><a href="{% url 'demos.list' %}">Demos</a></li>
                <li></li>
            </ol>
            <h1>{% if demo %}{{ demo.name }}{% else %}New Demo{% endif %}</h1>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-md-12">
                <form id="publisher-form" class="form-horizontal" method="post">
                    {% csrf_token %}

                    <p>Foo</p>

                    <div class="form-group submit-row">
                        <button type="submit" class="btn btn-primary submit-button disabled" disabled="disabled">
                            {% if demo %}
                                Save Changes
                            {% else %}
                                Add Demo
                            {% endif %}
                        </button>
                        <span class="cancel">or <a href="../">Cancel</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_scripts %}
    <script>
{#        $(function() {#}
{#            EditPublisherPage.init({#}
{#                publisherId: '{{ publisher.publisher_id }}',#}
{#                validateCrossrefUrl: '{% url 'publishers.validate_crossref' %}',#}
{#                validateIssnUrl: '{% url 'publishers.validate_issn' %}',#}
{#                addIssnValuesUrl: '{% url 'publishers.new_issn' %}',#}
{#                {% if publisher %}#}
{#                    buildingPollUrl: '{% url 'publishers.check_reports' %}?publisher={{ publisher.publisher_id }}',#}
{#                    buildingSuccessUrl: '{% url 'publishers.list' %}?from=new-success',#}
{#                    buildingErrorUrl: '{% url 'publishers.list' %}?from=new-fail',#}
{#                {% endif %}#}
{#                csrfToken: '{{ csrf_token }}'#}
{#            });#}
{##}
{#            {% if from_value == 'new-publisher' %}#}
{#                EditPublisherPage.showBuildingReportsModal();#}
{#            {% endif %}#}
{#        });#}
    </script>
{% endblock %}