{% extends "base_standard.html" %}
{% load tags %}
{% block title %}Uptime Overrides{% endblock %}
{% block body_class %}uptime_overrides{% endblock %}

{% block content %}
    <div class="row header-row">
        <div class="col-md-12">
            <h1>Uptime Overrides</h1>
            <a class="btn btn-default small add-new-item-button add-uptime-override-button" href="new/">+ Add Override</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table sortable-table">
                <thead>
                    <tr>
                        <th>Label</th>
                        <th>Match Expression</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for override in overrides %}
                        <tr>
                            <td>{{ override.label }}</td>
                            <td>{{ override.display_match_expression }}</td>
                            <td>{{ override.start_date|date:"m/d/Y" }}</td>
                            <td>{{ override.end_date|date:"m/d/Y" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
