{% extends "base_standard.html" %}
{% block title %}Users{% endblock %}

{% block content %}
    <div class="row header-row">
        <div class="col-md-8">
            <h1>Users</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Type</th>
                        <th>Added</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="#">
                                HighWire Staff
                            </a>
                        </td>
                        <td>staff@highwire.org</td>
                        <td>Staff</td>
                        <td>2015-08-14</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
