{% extends "base_standard.html" %}
{% load tags %}
{% block title %}Users{% endblock %}
{% block body_class %}user{% endblock %}

{% block content %}
    <div id="list-users-page">
        {% if publisher %}
            <div class="row header-row with-breadcrumb">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="{% url 'publishers.list' %}">Publishers</a></li>
                        <li><a href="{% url 'publishers.edit' publisher.publisher_id %}">{{ publisher.name }}</a></li>
                        <li></li>
                    </ol>
                    <h1>Users</h1>
                    <a class="btn btn-default small add-user-button show-loading" href="new/">+ Add User</a>
                </div>
            </div>
        {% else %}
            <div class="row header-row">
                <div class="col-md-8">
                    <h1>Users</h1>
                    <a class="btn btn-default small add-user-button show-loading" href="new/">+ Add User</a>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>{% sort_column "Email" "email" sort_key sort_descending %}</th>
                            <th>{% sort_column "First Name" "first_name" sort_key sort_descending %}</th>
                            <th>{% sort_column "Last Name" "last_name" sort_key sort_descending %}</th>
                            <th class="text-center user-type-col">Pub FTP</th>
                            <th class="text-center user-type-col">Pub Staff</th>
                            <th class="text-center user-type-col">HW Staff</th>
                            <th class="text-center user-type-col">Superuser</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>
                                    {% if publisher %}
                                        {% if user.is_at_least_highwire_staff %}
                                            {{ user.email }}
                                        {% else %}
                                            <a href="{% url 'publishers.users.edit' publisher.publisher_id user.user_id %}">
                                                {{ user.email }}
                                            </a>
                                        {% endif %}
                                    {% else %}
                                        <a href="{% url 'users.edit' user.user_id %}">
                                            {{ user.email }}
                                        </a>
                                    {% endif %}
                                </td>
                                <td>{{ user.first_name }}</td>
                                <td>{{ user.last_name }}</td>
                                <td class="text-center user-type-col">{% checkmark user.is_publisher_ftp %}</td>
                                <td class="text-center user-type-col">{% checkmark user.is_publisher_staff %}</td>
                                <td class="text-center user-type-col">{% checkmark user.is_highwire_staff %}</td>
                                <td class="text-center user-type-col">{% checkmark user.is_superuser %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
