{% extends "base_standard.html" %}
{% block title %}Performance{% endblock %}
{% block body_class %}dashboard performance{% endblock %}
{% load tags %}

{% block content %}
    <div class="row header-row">
        <div class="col-md-8">
            <h1>Performance</h1>
        </div>
    </div>

    <div id="view">
        <hr>

        <div class="row">
            <div class="col-md-12">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>

    </div>

{% endblock %}
