{% extends "base_standard.html" %}
{% load filters %}
{% load tags %}
{% block title %}Settings{% endblock %}

{% block content %}
    <div class="user-settings-page">
        <div class="row header-row">
            <div class="col-md-8">
                <h1>Settings</h1>
            </div>
        </div>

        <div>
            <div class="row">
                <div class="col-md-12">
                    <form id="user-form" class="form-horizontal" method="post">
                        {% csrf_token %}

                        <div class="form-group row {% if form.email.errors %}error{% endif %}">
                            <label for="email" class="col-sm-2">Email</label>
                            <div class="col-sm-6">
                                {{ form.email }}
                                {{ form.email.errors }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="first_name" class="col-sm-2">Name</label>
                            <div class="col-sm-3">
                                {{ form.first_name }}
                            </div>
                            <div class="col-sm-3">
                                {{ form.last_name}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-sm-2">Password</label>
                            <div class="col-sm-3">
                                <p class="form-control-static set-password-link"><a href="#">Set password...</a></p>
                                {{ form.password }}
                            </div>
                            <div class="col-sm-3">
                                {{ form.password_confirm }}
                            </div>
                            <div class="col-sm-3">
                                <p class="form-control-static password-error-message" style="display:none">Passwords must match</p>
                                <p class="form-control-static" style="display:none">
                                    <a href="#" class="cancel-password-link">Cancel</a>
                                </p>
                            </div>
                        </div>
                        <div class="form-group submit-row">
                            <button type="submit" class="btn btn-primary submit-button">
                                Save Changes
                            </button>
                            <span class="cancel">or <a href="../">Cancel</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_scripts %}
    <script>
        $(function() {
            $('.user-settings-page').usersettingspage();
        });
    </script>
{% endblock %}