{% extends "base_standard.html" %}
{% block title %}Dashboard{% endblock %}
{% block body_class %}user-home{% endblock %}
{% load tags %}

{% block content %}
    <div class="row header-row">
        <div class="col-md-8">
            <h1>Dashboard</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% if not publisher_stats_list %}
                <p>Sorry, you don't have access to any publishers or products.</p>
            {%  else %}

                {% for publisher_stats in publisher_stats_list %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{{ publisher_stats.publisher.name }}</th>
                                <th></th>
                                <th class="status-col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product_stats in publisher_stats.product_stats_list %}
                                <tr>
                                    <td>
                                        <span class="lnr {{ product_stats.product.icon }} product-icon"></span>
                                        {{ product_stats.product.name }}
                                    </td>
                                    <td></td>
                                    <td class="status-col"></td>
                                </tr>
                                {% for pipeline_stats in product_stats.pipeline_stats_list %}
                                    {% if pipeline_stats.file_based_pipeline_currently_running or running_publisher == publisher_stats.publisher.publisher_id and running_pipeline == pipeline_stats.pipeline.id %}
                                        <tr class="pipeline-status-row currently-running-row">
                                            <td class="dashboard-status-col">
                                                {{ pipeline_stats.message }}
                                            </td>
                                            <td class="dashboard-time-col">
                                            </td>
                                            <td class="status-col">
                                                {% status_icon "in-progress" %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr class="pipeline-status-row">
                                            <td class="dashboard-status-col">
                                                {{ pipeline_stats.message }}
                                                {% if pipeline_stats.pipeline.has_file_input %}
                                                    <a class="btn btn-default little-upload-button" href="{% url 'pipelines.upload' product_stats.product.id pipeline_stats.pipeline.id %}?publisher={{ publisher_stats.publisher.publisher_id }}">+ Upload</a>
                                                    {% if pipeline_stats.pending_files %}
                                                        <a class="little-files-link" href="{% url 'pipelines.pending_files' product_stats.product.id pipeline_stats.pipeline.id %}?publisher={{ publisher_stats.publisher.publisher_id }}">{{ pipeline_stats.pending_files|length }} pending file{{ pipeline_stats.pending_files|pluralize }}</a>
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td class="dashboard-time-col">
                                                {{ pipeline_stats.recent_run.end_time }}
                                            </td>
                                            <td class="status-col">
                                                {% status_icon pipeline_stats.status %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
