<ul class="choice-list template-choice-list">
    {% if not template_choices %}
        <li template_id="">
            <i class="lnr lnr-prohibited choice-icon"></i>
            No alerts available for this publisher
        </li>
    {% else %}
        {% for choice in template_choices %}
            <li template_id="{{ choice.id }}" has_filter_configuration="{{ choice.has_filter_configuration }}" name_template="{{ choice.name_template }}" filter_worksheet_name="{{ choice.filter_worksheet_name }}" class="{% if form.initial.template_id == choice.id %}selected{% endif %} {% if choice.has_widgets %}has-widgets{% endif %}">
                <i class="lnr lnr-check choice-icon selected-choice-icon"></i>
                <i class="lnr lnr-circle choice-icon unselected-choice-icon"></i>
                {{ choice.description|safe }} ({{ choice.frequency }})
            </li>
        {% endfor %}
    {% endif %}
</ul>
