{% extends "base_standard.html" %}
{% load tags %}
{% block title %}Publishers{% endblock %}
{% block body_class %}publisher{% endblock %}

{% block content %}
    <div class="row header-row">
        <div class="col-md-12">
            <h1>Publishers</h1>
            <a class="btn btn-default small add-publisher-button show-loading" href="new/">+ Add Publisher</a>
            <ul class="list-tabs">
                <li><a href="?filter=all" {% if filter_param == 'all' %}class="active"{% endif %}>Show All</a></li>
                <li><a href="?filter=demos" {% if filter_param == 'demos' %}class="active"{% endif %}>Publisher Demos</a></li>
                <li><a href="?filter=publishers" {% if filter_param == 'publishers' %}class="active"{% endif %}>Production Publishers</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table sortable-table">
                <thead>
                    <tr>
                        <th>{% sort_column "Name" "name" sort_key sort_descending %}</th>
                        <th>{% sort_column "Publisher ID" "publisher_id" sort_key sort_descending %}</th>
                        <th>Users</th>
                        <th>Journals</th>
                        <th class="text-center">ImpactVizor</th>
                        <th class="text-center">UsageVizor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for publisher in publishers %}
                        <tr>
                            <td>
                                <a href="{% url 'publishers.edit' publisher.publisher_id %}">
                                    {{ publisher.name }}
                                </a>
                            </td>
                            <td>{{ publisher.publisher_id }}</td>
                            <td><a href="{% url 'publishers.users' publisher.publisher_id %}">{{ publisher.users|length }} user{{ publisher.users|pluralize }}</a></td>
                            <td>
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'publishers.journals' publisher.publisher_id %}">{{ publisher.num_journals }} journal{{ publisher.num_journals|pluralize }}</a>
                                {% else %}
                                    {{ publisher.num_journals }} journal{{ publisher.num_journals|pluralize }}
                                {% endif %}
                            </td>
                            <td class="text-center">{% checkmark publisher.supports_impact_vizor %}</td>
                            <td class="text-center">{% checkmark publisher.supports_usage_vizor %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
