{% extends "base_standard.html" %}
{% load tags %}
{% block title %}Demo Requests{% endblock %}
{% block body_class %}demo{% endblock %}

{% block content %}
    <div class="row header-row">
        <div class="col-md-8">
            <h1>Demo Requests</h1>
            <a class="btn btn-default small add-demo-button show-loading" href="new/">+ Add Demo Request</a>
            <ul class="list-tabs">
                <li><a href="?filter=all" {% if filter_param == 'all' %}class="active"{% endif %}>Show All</a></li>
                <li><a href="?filter=active" {% if filter_param == 'active' %}class="active"{% endif %}>Active</a></li>
                <li><a href="?filter=archived" {% if filter_param == 'archived' %}class="active"{% endif %}>Archived</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table demo-table">
                <thead>
                    <tr>
                        <th>{% sort_column "Publisher Name" "name" sort_key sort_descending %}</th>
                        <th>{% sort_column "Requestor" "requestor" sort_key sort_descending %}</th>
                        <th>{% sort_column "Start Date" "start_date" sort_key sort_descending %}</th>
                        <th class="demo-status-col">{% sort_column "Status" "status" sort_key sort_descending %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for demo in demos %}
                        <tr>
                            <td>
                                <a href="{% url 'publishers.edit_demo' demo.demo_id %}">
                                    {{ demo.name }}
                                </a>
                            </td>
                            <td>{{ demo.requestor.display_name }}</td>
                            <td>
                                {% if demo.start_date %}
                                    {{ demo.start_date|date:"m/d/Y" }}
                                {% else %}
                                    <span class="null-value">&mdash;</span>
                                {% endif %}
                            </td>
                            <td class="demo-status-col {% if request.user.is_superuser %}with-menu{% endif %}">
                                {% if request.user.is_superuser %}
                                    <select class="form-control input-sm inline-demo-status-menu" demo_id="{{ demo.demo_id }}" demo_name="{{ demo.name }}" previous_status="{{ demo.status }}">
                                        {% for choice in common.DEMO_STATUS_CHOICES %}
                                            <option value="{{ choice.0 }}" {% if demo.status == choice.0 %}selected{% endif %}>{{ choice.1 }}</option>
                                        {% endfor %}
                                    </select>
                                {% else %}
                                    <span class="read-only-label">{{ demo.display_status }}</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade confirm-dialog" id="set-email-message-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close set-email-message-cancel-button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Change Demo Status</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you'd like to make the following status change?</p>
                    <p class="status-change-details"></p>
                    <p>Enter a custom message to include in the notification email:</p>
                    <textarea class="form-control" id="id_custom_status_message" placeholder="Enter custom message (optional)"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary set-email-message-submit-button">Yes, Change Status</button>
                    <span class="cancel">or <a href="#" class="set-email-message-cancel-button" data-dismiss="modal">Cancel</a></span>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block page_scripts %}
    <script>
        $(function() {
            ListDemosPage.init({
                updateDemoStatusUrl: '{% url 'publishers.update_demo_status' %}',
                csrfToken: '{{ csrf_token }}'
            });
        });
    </script>
{% endblock %}

