{% extends "base_standard.html" %}
{% load tags %}
{% block title %}Demos{% endblock %}
{% block body_class %}demo{% endblock %}

{% block content %}
    <div class="row header-row">
        <div class="col-md-8">
            <h1>Demos</h1>
            <a class="btn btn-default small add-demo-button show-loading" href="new/">+ Add Demo</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Publisher Name</th>
                        <th>Requestor</th>
                        <th>Start Date</th>
                        <th class="text-center">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for demo in demos %}
                        <tr>
                            <td>
                                <a href="{% url 'publishers.edit_demo' demo.demo_id %}">
                                    {{ demo.name }}
                                </a>
                            </td>
                            <td>{{ demo.requestor.display_name }}</td>
                            <td>
                                {% if demo.start_date %}
                                    {{ demo.start_date.date }}
                                {% else %}
                                    <span class="null-value">&mdash;</span>
                                {% endif %}
                            </td>
                            <td class="text-center">{{ demo.status }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
