{% extends "base_standard.html" %}
{% load filters %}
{% load tags %}
{% block title %}{% if publisher %}{{ publisher.name }}{% else %}New Publisher{% endif %}{% endblock %}
{% block body_class %}publisher{% endblock %}

{% block content %}
    <div class="row header-row with-breadcrumb">
        <div class="col-md-8">
            <ol class="breadcrumb">
                <li><a href="{% url 'publishers.list' %}">Publishers</a></li>
                <li></li>
            </ol>
            <h1>{% if publisher %}{{ publisher.name }}{% else %}New Publisher{% endif %}</h1>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-md-12">
                <form id="publisher-form" class="form-horizontal" method="post">
                    {% csrf_token %}

                    <div class="form-group row {% if form.name.errors %}error{% endif %}">
                        <label for="name" class="col-sm-2">Name</label>
                        <div class="col-sm-6">
                            {{ form.name }}
                            {{ form.name.errors }}
                        </div>
                    </div>
                    <div class="form-group row {% if form.publisher_id.errors %}error{% endif %}">
                        <label for="publisher_id" class="col-sm-2">Publisher ID</label>
                        <div class="col-sm-3">
                            {{ form.publisher_id }}
                            {{ form.publisher_id.errors }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="scopus_api_keys" class="col-sm-2">Scopus API Keys</label>
                        <div class="col-sm-6">
                            {{ form.scopus_api_keys }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2">Pilot Account</label>
                        <div class="col-sm-6">
                            <div class="checkbox">
                                <label>{{ form.pilot }} Enable Pilot restrictions on this publisher</label>
                            </div>
                        </div>
                    </div>

                    {% if not publisher %}
                        <h2>Reporting</h2>
                        <div class="form-group row">
                            <label for="report_username" class="col-sm-2">Report Login</label>
                            <div class="col-sm-3">
                                {{ form.report_username }}
                            </div>
                            <div class="col-sm-3">
                                {{ form.report_password }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="project_folder" class="col-sm-2">Project Folder</label>
                            <div class="col-sm-6">
                                {{ form.project_folder }}
                            </div>
                        </div>
                    {% endif %}

                    <h2>Rejected Articles</h2>
                    <div class="form-group row">
                        <label class="col-sm-2">Product</label>
                        <div class="col-sm-6">
                            <div class="checkbox">
                                <label>{{ form.rejected_articles }} Enable Rejected Articles</label>
                            </div>
                        </div>
                    </div>

                    <h2>Published Articles</h2>
                    <div class="form-group row">
                        <label class="col-sm-2">Product</label>
                        <div class="col-sm-6">
                            <div class="checkbox">
                                <label>{{ form.published_articles }} Enable Published Articles</label>
                            </div>
                        </div>
                    </div>

                    <div class="published-articles-controls" style="display:none">
                        <div class="form-group row">
                            <label class="col-sm-2">HighWire</label>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>{{ form.hw_addl_metadata_available }} Use HighWire metadata</label>
                                </div>
                            </div>
                        </div>

                        <div id="issn-values-container">
                            {% include "publishers/include/issn_table.html" %}
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2">Crossref</label>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>{{ form.use_crossref }} Use Crossref API</label>
                                </div>
                            </div>
                        </div>

                        <div class="crossref-controls" style="display:none">
                            <div class="form-group row crossref-form-row">
                                <label for="crossref_username" class="col-sm-2">Crossref Login</label>
                                <div class="col-sm-3">
                                    {{ form.crossref_username }}
                                    <ul class="crossref-error-message errorlist" style="display:none"><li>Validation failed, try again.</li></ul>
                                </div>
                                <div class="col-sm-3">
                                    {{ form.crossref_password }}
                                </div>
                                <div class="col-sm-2">
                                    <p class="form-control-static">
                                        <a href="#" class="validate-crossref-button" style="display:none">Validate Login</a>
                                        <i class="fa fa-spinner fa-pulse validate-crossref-loading" style="display:none"></i>
                                        <span class="validate-crossref-checkmark lnr lnr-check checkmark" style="display:none"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group submit-row">
                        <button type="submit" class="btn btn-primary submit-button {% if not publisher %}disabled{% endif %}">
                            {% if publisher %}
                                Save Changes
                            {% else %}
                                Add Publisher
                            {% endif %}
                        </button>
                        <span class="cancel">or <a href="../">Cancel</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_scripts %}
    <script>
        $(function() {
            EditPublisherPage.init({
                publisherId: '{{ publisher.publisher_id }}',
                validateCrossrefUrl: '{% url 'publishers.validate_crossref' %}',
                validateIssnUrl: '{% url 'publishers.validate_issn' %}',
                validateJournalCodeUrl: '{% url 'publishers.validate_journal_code' %}',
                addIssnValuesUrl: '{% url 'publishers.add_issn_values' %}',
                csrfToken: '{{ csrf_token }}'
            });
        });
    </script>
{% endblock %}