{% extends "base_standard.html" %}
{% load filters %}
{% load tags %}
{% block title %}{% if publisher %}{{ publisher.name }}{% else %}New {% if is_demo %}Demo{% else %}Publisher{% endif %}{% endif %}{% endblock %}
{% block body_class %}publisher new-publisher {% if is_demo %}new-demo{% endif %}{% endblock %}

{% block content %}
    <div class="row header-row with-breadcrumb">
        <div class="col-md-8">
            <ol class="breadcrumb">
                <li>
                    {% if is_demo %}
                        <a href="{% url 'publishers.list_demos' %}">Demos</a>
                    {% else %}
                        <a href="{% url 'publishers.list' %}">Publishers</a>
                    {% endif %}
                </li>
                <li></li>
            </ol>
            <h1>{% if publisher %}{{ publisher.name }}{% else %}New {% if is_demo %}Demo{% else %}Publisher{% endif %}{% endif %}</h1>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-md-12">
                <form id="publisher-form" class="form-horizontal" method="post">
                    {% csrf_token %}

                    {% if is_demo %}
                        <input type="hidden" name="demo_id" id="id_demo_id" value="{{ form.initial.demo_id }}">
                    {% endif %}

                    {% if not is_demo %}
                        <div class="form-group row {% if form.publisher_id.errors %}error{% endif %}">
                            <label for="publisher_id" class="col-sm-2">Publisher ID</label>
                            <div class="col-sm-3">
                                {% if publisher %}
                                    <p class="form-control-static">
                                        {{ form.initial.publisher_id }}
                                        <input type="hidden" name="publisher_id" value="{{ form.initial.publisher_id }}">
                                    </p>
                                {% else %}
                                    {{ form.publisher_id }}
                                    {{ form.publisher_id.errors }}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                    <div class="form-group row {% if form.name.errors %}error{% endif %}">
                        <label for="name" class="col-sm-2">{% if is_demo %}Publisher {% endif %}Name</label>
                        <div class="col-sm-6">
                            {{ form.name }}
                            {{ form.name.errors }}
                        </div>
                    </div>

                    {% if is_demo %}
                        <div class="form-group row {% if form.start_date.errors %}error{% endif %}">
                            <label for="start_date" class="col-sm-2">Start Date</label>
                            <div class="col-sm-3">
                                {{ form.start_date }}
                                {{ form.start_date.errors }}
                            </div>
                        </div>
                    {% endif %}

                    {% if not is_demo %}
                        <div class="form-group row">
                            <label for="email" class="col-sm-2">Email</label>
                            <div class="col-sm-6">
                                {{ form.email }}
                                {{ form.email.errors }}
                            </div>
                        </div>

                        {% if request.user.superuser %}
                            {% if not publisher %}
                                <div class="form-group row">
                                    <label class="col-sm-2">Scopus</label>
                                    <div class="col-sm-6">
                                        <div class="checkbox">
                                            <label>{{ form.use_scopus_api_keys_from_pool }} Get Scopus API keys from pool</label>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="scopus-controls" {% if not publisher %}style="display:none"{% endif %}>
                                <div class="form-group row">
                                    <label for="scopus_api_keys" class="col-sm-2">Scopus API Keys</label>
                                    <div class="col-sm-6">
                                        {{ form.scopus_api_keys }}
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <input type="hidden" name="use_scopus_api_keys_from_pool" value="{{ form.initial.use_scopus_api_keys_from_pool }}">
                            <input type="hidden" name="scopus_api_keys" value="{{ form.initial.scopus_api_keys }}">
                        {% endif %}

                        <div class="form-group row">
                            <label class="col-sm-2">Pilot</label>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>{{ form.pilot }} Enable Pilot restrictions on this publisher</label>
                                </div>
                            </div>
                        </div>

                    {% endif %}

                    {% if not is_demo %}
                        <h2>Reporting</h2>
                        <div class="form-group row">
                            <label for="reports_username" class="col-sm-2">Reports Login</label>
                            <div class="col-sm-3">
                                {% if publisher %}
                                    <p class="form-control-static">
                                        {{ form.initial.reports_username }}
                                        <input type="hidden" name="reports_username" value="{{ form.initial.reports_username }}">
                                    </p>
                                {% else %}
                                    {{ form.reports_username }}
                                {% endif %}
                            </div>
                            <div class="col-sm-3">
                                {% if publisher %}
                                    <p class="form-control-static set-reports-password-link"><a href="#">Set password...</a></p>
                                {% endif %}
                                {{ form.reports_password }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="reports_project" class="col-sm-2">Project Folder</label>
                            <div class="col-sm-6">
                                {% if publisher %}
                                    <p class="form-control-static">
                                        {{ form.initial.reports_project }}
                                        <input type="hidden" name="reports_project" value="{{ form.initial.reports_project }}">
                                    </p>
                                {% else %}
                                    {{ form.reports_project }}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                    <h2>Rejected Manuscripts</h2>
                    <div class="form-group row">
                        <label class="col-sm-2">Product</label>
                        <div class="col-sm-6">
                            <div class="checkbox">
                                <label>{{ form.rejected_manuscripts }} Enable Rejected Manuscripts</label>
                            </div>
                        </div>
                    </div>

                    <h2>Published Articles</h2>
                    <div class="form-group row">
                        <label class="col-sm-2">Product</label>
                        <div class="col-sm-6">
                            <div class="checkbox">
                                <label>{{ form.published_articles }} Enable Published Articles</label>
                            </div>
                        </div>
                    </div>

                    <div class="published-articles-controls" style="display:none">
                        <div class="form-group row">
                            <label class="col-sm-2">HighWire</label>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>{{ form.hw_addl_metadata_available }} Use HighWire metadata</label>
                                </div>
                            </div>
                        </div>

                        <div id="issn-values-container">
                            {{ form.issn_values }}
                            {% for issn_value in issn_values_list %}
                                {% include "publishers/include/issn_row.html" with index=issn_value.index cohort=False %}
                            {% empty %}
                                {% include "publishers/include/issn_row.html" with index="pa-0" cohort=False %}
                            {% endfor %}
                        </div>

                        <div class="form-group row issn-add-row">
                            <div class="col-sm-2 col-sm-offset-2">
                                <p class="form-control-static">
                                    <a href="#" class="add-issn-button">+ Add Another</a>
                                </p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2">Crossref</label>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>{{ form.use_crossref }} Use Crossref API</label>
                                </div>
                            </div>
                        </div>

                        <div class="crossref-controls" style="display:none">
                            <div class="form-group row crossref-form-row">
                                <label for="crossref_username" class="col-sm-2">Crossref Login</label>
                                <div class="col-sm-3">
                                    {{ form.crossref_username }}
                                    <ul class="crossref-error-message errorlist" style="display:none"><li>Validation failed, try again.</li></ul>
                                </div>
                                <div class="col-sm-3">
                                    {{ form.crossref_password }}
                                </div>
                                <div class="col-sm-2">
                                    <p class="form-control-static">
                                        <a href="#" class="validate-crossref-button" {% if form.crossref_username.value %}style="display:none"{% endif %}>Validate Login</a>
                                        <i class="fa fa-spinner fa-pulse validate-crossref-loading" style="display:none"></i>
                                        <span class="validate-crossref-checkmark lnr lnr-check checkmark" {% if not form.crossref_username.value %}style="display:none"{% endif %}></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h2>Cohort Articles</h2>
                    <div class="form-group row">
                        <label class="col-sm-2">Product</label>
                        <div class="col-sm-6">
                            <div class="checkbox">
                                <label>{{ form.cohort_articles }} Enable Cohort Articles</label>
                            </div>
                        </div>
                    </div>

                    <div class="cohort-articles-controls" style="display:none">
                        <div id="issn-values-cohort-container">
                            {{ form.issn_values_cohort }}
                            {% for issn_value in issn_values_cohort_list %}
                                {% include "publishers/include/issn_row.html" with index=issn_value.index cohort=True %}
                            {% empty %}
                                {% include "publishers/include/issn_row.html" with index="ca-0" cohort=True %}
                            {% endfor %}
                        </div>

                        <div class="form-group row issn-add-row">
                            <div class="col-sm-2 col-sm-offset-2">
                                <p class="form-control-static">
                                    <a href="#" class="add-issn-cohort-button">+ Add Another</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    {% if is_demo %}
                        <h2>Demo Notes</h2>
                        <div class="form-group row">
                            <label for="email" class="col-sm-2">Notes</label>
                            <div class="col-sm-6">
                                {{ form.demo_notes }}
                                {{ form.demo_notes.errors }}
                            </div>
                        </div>
                    {% endif %}
                </form>

                {% if is_demo %}
                    <div class="form-horizontal demo-files-fake-form">
                        <h2>File Uploads</h2>
                        <div class="form-group row">
                            <label for="email" class="col-sm-2">Additional Metadata</label>
                            <div class="col-sm-10">
                                {% include "pipelines/include/pending_files_form.html" with is_demo=True pending_files=demo_files_custom_article_data additional=True includes_invalid_files=includes_invalid_files only_pending=True product=common.PRODUCT_BY_ID.published_articles pipeline=common.PIPELINE_BY_ID.custom_article_data %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-sm-2">Rejected Articles</label>
                            <div class="col-sm-10">
                                {% include "pipelines/include/pending_files_form.html" with is_demo=True pending_files=demo_files_rejected_articles additional=True includes_invalid_files=includes_invalid_files only_pending=True product=common.PRODUCT_BY_ID.rejected_manuscripts pipeline=common.PIPELINE_BY_ID.rejected_articles %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="form-horizontal fake-form-submit-row">
                    <div class="form-group submit-row">
                        <button type="submit" class="btn btn-primary submit-button disabled" disabled="disabled">
                            {% if publisher %}
                                Save Changes
                            {% else %}
                                Add {% if is_demo %}Demo{% else %}Publisher{% endif %}
                            {% endif %}
                        </button>
                        <span class="cancel">or <a href="../">Cancel</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if from_value == 'new-publisher' %}
        <div class="modal fade" id="creating-publisher-modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="waiting-icon"><i class="fa fa-spinner fa-pulse"></i></div>
                    <div class="waiting-message">Waiting for the Tableau reports to be built...</div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block page_scripts %}
    <script>
        $(function() {
            EditPublisherPage.init({
                publisherId: '{{ publisher.publisher_id }}',
                validateCrossrefUrl: '{% url 'publishers.validate_crossref' %}',
                validateIssnUrl: '{% url 'publishers.validate_issn' %}',
                addIssnValuesUrl: '{% url 'publishers.new_issn' %}',
                {% if publisher %}
                    buildingPollUrl: '{% url 'publishers.check_reports' %}?publisher={{ publisher.publisher_id }}',
                    buildingSuccessUrl: '{% url 'publishers.list' %}?from=new-success',
                    buildingErrorUrl: '{% url 'publishers.list' %}?from=new-fail',
                {% endif %}
                csrfToken: '{{ csrf_token }}',
                isDemo: {% if is_demo %}true{% else %}false{% endif %}
            });

            {% if from_value == 'new-publisher' %}
                EditPublisherPage.showBuildingReportsModal();
            {% endif %}
        });
    </script>
{% endblock %}
