<td colspan="3">
    <p class="notification-details-summary">
        <span class="lnr lnr-arrow-right notification-details-arrow"></span>
        {{ values_list|length }} result{{ values_list|pluralize }} from {{ product.name }}
        {% if alert.param_display_string %}
            <div class="alert-details"><b>Parameters:</b> {{ alert.param_display_string }}</div>
        {% endif %}
        {% if alert.filter_display_string %}
            <div class="alert-details"><b>Filters:</b> {{ alert.filter_display_string }}</div>
        {% endif %}
    </p>
    <table class="table">
        <thead>
            <tr>
                {% for col in check.table_order %}
                    <th class="{{ col.key }}-col {% if col.align == 'right' %}align-right{% endif %} {% if col.width == 'wide' %}wide{% endif %}">
                        {{ col.name }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in values_list %}
                <tr>
                    {% for value in row %}
                        <td class="{{ value.key }}-col {% if value.align == 'right' %}align-right{% endif %} {% if value.width == 'wide' %}wide{% endif %}">
                            {{ value.value|safe }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not notification.dismissed %}
        <p>
            <span class="lnr lnr-cross dismiss-notification-cross"></span>
            <a href="#" class="dismiss-notification-link">Dismiss Notification</a>
        </p>
    {% endif %}
</td>
