<div class="form-group row issn-values{% if cohort %}-cohort{% endif %}-row issn-values{% if cohort %}-cohort{% endif %}-row-{{ index }}" index="{{ index }}">
    <div class="issn-border"></div>
    <label class="col-sm-2">
        <span class="issn-row-label">{% if cohort %}Cohort {% endif %}ISSNs</span>
    </label>
    <div class="col-sm-2">
        <input type="text" class="form-control electronic-issn" id="id_electronic_issn_{{ index }}" placeholder="Electronic ISSN" value="{{ issn_value.electronic_issn }}" {% if read_only %}readonly disabled{% endif %}>
        <ul class="issn-error-message errorlist" style="display:none"><li>Validation failed, try again.</li></ul>
    </div>
    <div class="col-sm-2">
        <input type="text" class="form-control print-issn" id="id_print_issn_{{ index }}" placeholder="Print ISSN" value="{{ issn_value.print_issn }}" {% if read_only %}readonly disabled{% endif %}>
        <span class="issn-divider">&mdash;</span>
    </div>
    {% if not cohort %}
        <div class="col-sm-2 highwire-controls journal-code" style="display: none">
            <input type="text" class="form-control" id="id_journal_code_{{ index }}" placeholder="Journal Code" value="{{ issn_value.journal_code }}" {% if read_only %}readonly disabled{% endif %}>
            <span class="issn-divider">&mdash;</span>
        </div>
    {% endif %}
    <div class="col-sm-2">
        <p class="form-control-static">
            {% if not read_only %}
                <a href="#" class="delete-issn-button"><span class="lnr lnr-cross"></span></a>
                <a href="#" class="validate-issn-button" {% if not is_demo and issn_value %}style="display:none"{% endif %}>Validate ISSN</a>
                <i style="display:none" class="fa fa-spinner fa-pulse validate-issn-loading"></i>
            {% endif %}
            <span class="validate-issn-checkmark lnr lnr-check checkmark" {% if is_demo or not issn_value %}style="display:none"{% endif %}></span>
        </p>
    </div>
</div>
<div class="form-group row issn-values-months{% if cohort %}-cohort{% endif %}-row issn-values-months{% if cohort %}-cohort{% endif %}-row-{{ index }}">
    <div class="col-sm-6 col-sm-offset-2">
{#        <span class="lnr lnr-arrow-right extra-journal-info-arrow"></span>#}
        <input id="id_use_months_until_free_{{ index }}" class="use-months-until-free" type="checkbox" index="{{ index }}" {% if issn_value.use_months_until_free == 'on' %}checked{% endif %} {% if read_only %}readonly disabled{% endif %}>
        <span class="months-free-text">Articles are freely available after</span>
        <input type="text" class="form-control months-until-free input-sm" id="id_months_until_free_{{ index }}" placeholder="" value="{% if issn_value.months_until_free %}{{ issn_value.months_until_free }}{% endif %}" {% if read_only %}readonly disabled{% endif %}>
        <span class="months-free-text">months</span>
    </div>
</div>
{% if not cohort %}
    <div class="form-group row issn-values-benchpress-row issn-values-row-{{ index }} rejected-manuscripts-controls" style="display:none">
        <div class="col-sm-6 col-sm-offset-2">
{#            <span class="lnr lnr-arrow-right extra-journal-info-arrow"></span>#}
            <input id="id_use_benchpress_{{ index }}" class="use-benchpress" type="checkbox" index="{{ index }}" {% if issn_value.use_benchpress == 'on' %}checked{% endif %} {% if read_only %}readonly disabled{% endif %}>
            <span class="use-benchpress-text">Use Bench Press for Rejected Articles</span>
        </div>
    </div>
    <div class="form-group row issn-values-pubmed-row issn-values-row-{{ index }} rejected-manuscripts-controls" style="display:none">
        <div class="col-sm-6 col-sm-offset-2">
{#            <span class="lnr lnr-arrow-right extra-journal-info-arrow"></span>#}
            <input id="id_use_pubmed_override_{{ index }}" class="use-pubmed-override" type="checkbox" index="{{ index }}" {% if issn_value.use_pubmed_override == 'on' %}checked{% endif %} {% if read_only %}readonly disabled{% endif %}>
            <span class="use-pubmed_override-text" title="PubMed Override: While matching articles to rejected manuscripts, skip potential CrossRef matches that are not found in PubMed.">
              Use PubMed Override for Rejected Articles
            </span>
        </div>
    </div>
{% endif %}
<div class="form-group row issn-values-skip-rule{% if cohort %}-cohort{% endif %}-row iss-values-skip-rule{% if cohort %}-cohort{% endif %}-row-{{ index }}">
    <div class="col-sm-6 col-sm-offset-2">
{#        <span class="lnr lnr-arrow-right extra-journal-info-arrow"></span>#}
        <span>Article skip rule: </span>
        <select class="form-control skip-rule input-sm" id="id_skip_rule{% if cohort %}_cohort{% endif %}_{{ index }}">
            <option value="">No skips</option>
            {% for choice in skipper_type_choices %}
                <option value="{{ choice.0 }}" {% if issn_value.skip_rule == choice.0 %}selected{% endif %}>{{ choice.1 }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<script>
    $(function() {
        var mainRowSelector = '.issn-values{% if cohort %}-cohort{% endif %}-row-{{ index }}';
        var monthsRowSelector = '.issn-values-months{% if cohort %}-cohort{% endif %}-row-{{ index }}';
        var benchpressRowSelector = '.issn-values-benchpress-row-{{ index }}';
        var index = '{{ index }}';
        var cohort = {% if cohort %}true{% else %}false{% endif %};
        EditPublisherPage.wireUpValidateIssnButton(mainRowSelector, monthsRowSelector, benchpressRowSelector, index, cohort);
        EditPublisherPage.wireUpDeleteIssnButton(mainRowSelector, monthsRowSelector, benchpressRowSelector, index, cohort);
        EditPublisherPage.wireUpIssnControls(mainRowSelector, monthsRowSelector, benchpressRowSelector, index, cohort);
    });
</script>
