{% extends "base_standard.html" %}
{% block title %}{{ pipeline.name }}{% endblock %}
{% block body_class %}{{ pipeline.id }}_pipeline{% endblock %}

{% block content %}
    <form id="run-pipeline-form" class="hidden-form" method="post" action="run/">
        {% csrf_token %}
    </form>

    <div class="row header-row with-breadcrumb">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>Pipelines</li>
                <li></li>
            </ol>
            <h1>{{ pipeline.name }}</h1>
            {% if request.user.superuser %}
                <a class="btn btn-default small run-button" href="#">Run for All Publishers</a>
            {% endif %}
            {% if pipeline.has_file_input %}
                <a class="btn btn-default small upload-button" href="upload/">+ Upload</a>
            {% endif %}
{#            <ul class="list-tabs">#}
{#                <li><a href="#" class="active">All</a></li>#}
{#                <li><a href="#">Running</a></li>#}
{#                <li><a href="#">Completed</a></li>#}
{#                <li><a href="#">Failed</a></li>#}
{#            </ul>#}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Publisher</th>
                        <th class="date-col">Date</th>
                        <th class="time-col">Start Time</th>
                        <th class="time-col">End Time</th>
                        <th class="duration-col text-right">Duration</th>
                        <th class="status-col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for publisher_runs in runs_by_publisher %}
                        {% include "pipelines/include/publisher_details.html" %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block page_scripts %}
    <script>
        $(function() {
            PipelineListPage.init({
                piplineId: '{{ pipeline.id }}',
                publishers: {{ publisher_id_list_as_json|safe }},
                tailUrl: '{% url 'pipelines.tail' product.id pipeline.id %}',
                updatePublisherUrl: '{% url 'pipelines.include_updated_publisher_runs' product.id pipeline.id %}',
                runForPublisherUrl: '{% url 'pipelines.run' product.id pipeline.id %}',
                runForAllUrl: '{% url 'pipelines.run' product.id pipeline.id %}',
                isSuperuser: {% if request.user.superuser %}true{% else %}false{% endif %},
                csrfToken: '{{ csrf_token }}'
            });
        });
    </script>
{% endblock %}
