{% extends "base_standard.html" %}
{% load filters %}
{% load tags %}
{% block title %}{{ pipeline.name }}{% endblock %}
{% block body_class %}{{ pipeline.id }}_pipeline{% endblock %}

{% block content %}
    <form id="run-pipeline-form" class="hidden-form" method="post" action="run/">
        {% csrf_token %}
    </form>

    <div class="row header-row with-breadcrumb">
        <form class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="#">Pipelines</a></li>
                <li></li>
            </ol>
            <h1>{{ pipeline.name }}</h1>
            <a class="btn btn-default small run-button" href="#">Run for All Publishers</a>
            {% if pipeline.has_file_input %}
                <a class="btn btn-default small upload-button" href="upload/">+ Upload</a>
            {% endif %}
            <ul class="list-tabs">
                <li><a href="#" class="active">All</a></li>
                <li><a href="#">Running</a></li>
                <li><a href="#">Completed</a></li>
                <li><a href="#">Failed</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Publisher</th>
                        <th>Date</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th class="text-right">Duration</th>
                        <th class="status-col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for publisher_runs in runs_by_publisher %}
                        <tr>
                            <td class="opener-col">
                                <span class="lnr lnr-chevron-down opener-icon {{ publisher_runs.publisher.publisher_id }}_opener" {% if not publisher_runs.runs %}style="display:none"{% endif %}></span>
                                <span class="lnr lnr-chevron-up closer-icon {{ publisher_runs.publisher.publisher_id }}_closer" {% if publisher_runs.runs %}style="display:none"{% endif %}></span>
                            </td>
                            <td>
                                <a href="#" class="publisher-link" publisher_id="{{ publisher_runs.publisher.publisher_id }}">
                                    {{ publisher_runs.publisher.display_name }}
                                </a>
                                <span class="number-of-runs">({{ publisher_runs.runs|length }} run{{ publisher_runs.runs|pluralize }})</span>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-right"></td>
                            <td class="status-col"></td>
                        </tr>
                        {% if publisher_runs.runs %}
                            {% for run_item in publisher_runs.runs %}
                                <tr class="{{ run_item.run.publisher_id }}_row">
                                    <td class="opener-col"></td>
                                    <td class="run-col">{{ run_item.run.display_name }}</td>
                                    <td>{{ run_item.run.start_time|date:"Y-m-d"|nullable }}</td>
                                    <td>{{ run_item.run.start_time|date:"H:i:s"|nullable }}</td>
                                    <td>{{ run_item.run.end_time|date:"H:i:s"|nullable }}</td>
                                    <td class="text-right">{{ run_item.run.duration_seconds|nullable }}</td>
                                    <td class="status-col">
                                        {% status_icon run_item.run %}
                                    </td>
                                </tr>
                                {% for task in run_item.tasks %}
                                    <tr class="{{ task.publisher_id }}_row">
                                        <td class="opener-col"></td>
                                        <td class="task-col">
                                            <span class="order">{{ forloop.counter }}.</span>
                                            <a href="#" class="task-link" publisher_id="{{ task.publisher_id }}" job_id="{{ task.job_id }}" task_id="{{ task.task_id }}">{{ task.task_id }}</a>
                                        </td>
                                        <td></td>
                                        <td>{{ task.start_time|date:"H:i:s"|nullable }}</td>
                                        <td>{{ task.end_time|date:"H:i:s"|nullable }}</td>
                                        <td class="text-right">{{ task.duration_seconds|nullable }}</td>
                                        <td class="status-col">
                                            {% status_icon task %}
                                        </td>
                                    </tr>
                                    <tr class="{{ task.publisher_id }}_row {{ task.publisher_id }}_{{ task.job_id }}_{{ task.task_id }}_row tail-row" style="display:none">
                                        <td class="opener-col"></td>
                                        <td class="tail-col" colspan="6">
                                            <div class="tail-output"><pre></pre></div>
                                            <span class="auto-refresh" publisher_id="{{ task.publisher_id }}" job_id="{{ task.job_id }}" task_id="{{ task.task_id }}">Auto Refresh: <span class="auto-refresh-state">OFF</span></span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        {% else %}
                            <tr class="{{ publisher_runs.publisher.publisher_id }}_row" style="display:none">
                                <td class="opener-col"></td>
                                <td class="run-col">No recent runs</td>
                                <td>{{ 0|nullable }}</td>
                                <td>{{ 0|nullable }}</td>
                                <td>{{ 0|nullable }}</td>
                                <td class="text-right">{{ 0|nullable }}</td>
                                <td class="status-col"></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block page_scripts %}
    <script>
        $(function() {
            PipelineListPage.init({
                piplineId: '{{ pipeline.id }}',
                tailUrl: '{% url 'pipelines.tail' pipeline.id %}',
                csrfToken: '{{ csrf_token }}'
            });
        });
    </script>
{% endblock %}
