{% extends "base_standard.html" %}
{% load filters %}
{% load tags %}
{% block title %}Pending Files{% endblock %}
{% block body_class %}{{ pipeline.id }}_pipeline{% endblock %}

{% block content %}
    <div class="row header-row {% if request.user.staff %}with-breadcrumb{% endif %}">
        <div class="col-md-8">
            {% if request.user.staff %}
                <ol class="breadcrumb">
                    <li><a href="#">Pipelines</a></li>
                    <li><a href="{% url 'pipelines.list' product.id pipeline.id %}">{{ pipeline.name }}</a></li>
                    <li></li>
                </ol>
            {% endif %}
            <h1>Pending Files &ndash; {{ pipeline.user_facing_display_name|title }}</h1>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-md-12">
                {% include "pipelines/include/pending_files_form.html" with additional=False only_pending=True %}
            </div>
        </div>
    </div>
{% endblock %}

{% block page_scripts %}
    <script>
        $(function() {
            PendingFilesForm.init({
                pipelineId: '{{ pipeline.id }}',
                publisherId: '{{ publisher_id }}',
                deleteUrl: '{% url 'pipelines.pending_files' product.id pipeline.id %}',
                csrfToken: '{{ csrf_token }}'
            });
        });
    </script>
{% endblock %}