{% extends "base_standard.html" %}
{% load filters %}
{% load tags %}
{% block title %}Run {{ pipeline.name }}{% endblock %}
{% block body_class %}{{ pipeline.id }}_pipeline{% endblock %}

{% block content %}
    <div class="row header-row with-breadcrumb">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="#">Pipelines</a></li>
                <li><a href="{% url 'pipelines.list' product.id pipeline.id %}">{{ pipeline.name }}</a></li>
                <li></li>
            </ol>
            <h1>Run {{ pipeline.name }}</h1>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-md-12 upload-form-container">
                <form id="run-pipeline-for-publisher-form" class="form-horizontal" method="post">
                    {% csrf_token %}

                    <div class="form-group row">
                        <label for="publisher" class="col-sm-2">Publisher</label>
                        <div class="col-sm-6">
                            {{ form.publisher }}
                        </div>
                    </div>

                    <div class="form-group submit-row">
                        <button type="submit" class="btn btn-primary submit-button disabled" disabled="disabled">
                            Run Pipeline
                        </button>
                        <span class="cancel">or <a href="../">Cancel</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_scripts %}
    <script>
        $(function() {
            RunPage.init({
                pipelineId: '{{ pipeline.id }}'
            });
        });
    </script>
{% endblock %}