{% extends "base_standard.html" %}
{% load filters %}
{% load tags %}
{% block title %}Upload {{ pipeline.name }}{% endblock %}
{% block body_class %}{{ pipeline.id }}_pipeline{% endblock %}

{% block content %}
    <div class="row header-row with-breadcrumb">
        <div class="col-md-8">
            <ol class="breadcrumb">
                <li><a href="#">Pipelines</a></li>
                <li><a href="{% url 'pipelines.list' pipeline.id %}">{{ pipeline.name }}</a></li>
                <li></li>
            </ol>
            <h1>Upload {{ pipeline.name }}</h1>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-md-12 upload-form-container">
                <form id="upload-form" class="form-horizontal" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group row">
                        <label for="publisher" class="col-sm-2">Publisher</label>
                        <div class="col-sm-6">
                            {{ form.publisher }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="file" class="col-sm-2">File</label>
                        <div class="col-sm-6">
                            {{ form.file }}
                        </div>
                    </div>

                    <div class="form-group submit-row">
                        <button type="submit" class="btn btn-primary submit-button disabled">
                            Upload
                        </button>
                        <span class="cancel">or <a href="../">Cancel</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_scripts %}
    <script>
        $(function() {
            UploadPage.init({
                pipelineId: '{{ pipeline.id }}',
            });
        });
    </script>
{% endblock %}