{% extends "base_standard.html" %}
{% load filters %}
{% load tags %}
{% block title %}Uploaded{% endblock %}
{% block body_class %}{{ pipeline.id }}_pipeline{% endblock %}

{% block content %}
    <div class="row header-row with-breadcrumb">
        <div class="col-md-8">
            <ol class="breadcrumb">
                <li><a href="#">Pipelines</a></li>
                <li><a href="{% url 'pipelines.list' pipeline.id %}">{{ pipeline.name }}</a></li>
                <li></li>
            </ol>
            <h1>Uploaded</h1>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-md-12">
                <p class="uploaded-file-message">Your file was uploaded and validated.</p>
                <div class="uploaded-file">
                    <div class="lnr lnr-file-spreadsheet uploaded-file-icon"></div>
                    <div class="uploaded-file-attributes">
                        <ul>
                            <li class="uploaded-file-name">{{ file_name }}</li>
                            <li class="uploaded-file-line-count">{{ line_count }} lines</li>
                            <li class="uploaded-file-size">{{ file_size }}</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <form id="run-pipeline-for-publisher-form" class="form-horizontal" method="post" action="../run/">
                        {% csrf_token %}
                        <input type="hidden" name="publisher" value="{{ publisher_id }}">
                        <button type="submit" class="btn btn-primary submit-button">
                            Run Pipeline for This Publisher Now
                        </button>
                        <a href="." class="btn btn-default upload-another-button">+ Upload Another File</a>
                        <span class="cancel"> or <a href="../">I'm done</a></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
