{% extends "base_standard.html" %}
{% load tags %}
{% block title %}Alerts{% endblock %}
{% block body_class %}alerts{% endblock %}

{% block content %}
    <div class="row header-row">
        <div class="col-md-12">
            <h1>Alerts</h1>
            <a class="btn btn-default small add-alert-button show-loading" href="new/">+ Add Alert</a>
            <ul class="list-tabs">
                <li><a href="?filter=all" {% if filter_param == 'all' %}class="active"{% endif %}>Show All</a></li>
                <li><a href="?filter=active" {% if filter_param == 'active' %}class="active"{% endif %}>Active</a></li>
                <li><a href="?filter=archived" {% if filter_param == 'archived' %}class="active"{% endif %}>Archived</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table sortable-table alerts-table">
                <thead>
                    <tr>
                        <th>{% sort_column "Name" "name" sort_key sort_descending %}</th>
                        {% if not single_publisher_user %}
                            <th>{% sort_column "Publisher ID" "publisher_id" sort_key sort_descending %}</th>
                        {% endif %}
                        <th>{% sort_column "Check" "check_id" sort_key sort_descending %}</th>
                        <th class="text-center">enabled</th>
                    </tr>
                </thead>
                <tbody>
                    {% for alert in alerts %}
                        <tr>
                            <td>
                                <a href="{% url 'alerts.edit' alert.alert_id %}" class="alert-name">
                                    {{ alert.name }}
                                </a>
                                <div class="alert-details"><b>Email:</b> {{ alert.emails|join:", " }}</div>
                                {% if alert.param_display_string %}
                                    <div class="alert-details"><b>Parameters:</b> {{ alert.param_display_string }}</div>
                                {% endif %}
                                {% if alert.filter_display_string %}
                                    <div class="alert-details"><b>Filters:</b> {{ alert.filter_display_string }}</div>
                                {% endif %}
                            </td>
                            {% if not single_publisher_user %}
                                <td>{{ alert.publisher_id }}</td>
                            {% endif %}
                            <td>{{ alert.check_name }}</td>
                            <td class="text-center">{% checkmark alert.enabled %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
