{% extends "base_standard.html" %}
{% load filters %}
{% load tags %}
{% block title %}{% if alert %}{{ alert.name }}{% else %}New Alert{% endif %}{% endblock %}
{% block body_class %}alerts{% endblock %}

{% block content %}
    <div class="row header-row with-breadcrumb">
        <div class="col-md-8">
            <ol class="breadcrumb">
                <li><a href="{% url 'alerts.list' %}">Alerts</a></li>
                <li></li>
            </ol>
            <h1>{% if alert %}{{ alert.name }}{% else %}New Alert{% endif %}</h1>
        </div>
    </div>

    <div class="requirements-box">
        <h2>Checklist</h2>
        <ul>
            <li class="name-requirement">A name for the alert <span class="lnr lnr-check checkmark"></span></li>
            <li class="email-requirement">One or more email addresses <span class="lnr lnr-check checkmark"></span></li>
            <li class="issns-requirement published-articles-controls" style="display:none">At least one valid publisher ISSN <span class="lnr lnr-check checkmark"></span></li>
            <li class="requirements-notes">All of the items listed above are required to create an alert.</li>
        </ul>
    </div>

    <div>
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal alert-form" method="post">
                    {% csrf_token %}
                    {{ form.alert_id }}
                    {{ form.check_params }}

                    <div class="form-group row" {% if single_publisher_user %}style="display:none"{% endif %}>
                        <label for="publisher_id" class="col-sm-2">Publisher</label>
                        <div class="col-sm-6">
                            {{ form.publisher_id }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="check_id" class="col-sm-2">Check</label>
                        <div class="col-sm-6 check-control-container">
                            {% include "alerts/include/check_choices.html" %}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="name" class="col-sm-2">Name</label>
                        <div class="col-sm-6">
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="comma_separated_emails" class="col-sm-2">Emails</label>
                        <div class="col-sm-6">
                            {{ form.comma_separated_emails }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 col-sm-offset-2">
                            <div class="checkbox">
                                <label>{{ form.enabled }} Enabled</label>
                            </div>
                        </div>
                    </div>

                    <div class="alert-params">
                        {% include "alerts/include/params.html" %}
                    </div>

                    <div class="alert-filters">
                        {% include "alerts/include/filters.html" %}
                    </div>

                    <div class="form-group submit-row">
                        <button type="submit" class="btn btn-primary submit-button {% if not alert %}disabled{% endif %}" {% if not alert %}disabled="disabled"{% endif %}>
                            {% if alert %}
                                Save Changes
                            {% else %}
                                Add Alert
                            {% endif %}
                        </button>
                        <span class="cancel">or <a href="../">Cancel</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_scripts %}
    <script>
        $(function() {
            EditAlertPage.init({
                alertParamsUrl: '{% url 'alerts.include_alert_params' %}',
                alertFiltersUrl: '{% url 'alerts.include_alert_filters' %}',
                checkChoicesUrl: '{% url 'alerts.include_check_choices' %}',
                selectedCheck: '{{ form.initial.check_id }}'
            });
        });
    </script>
{% endblock %}
