<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Provide feedback</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <style>
            body {
                font-family: Helvetica, Arial, sans-serif;
                font-size: 12px;
                margin: 0;
            }

            a {
                color: #2d7a97;
            }
        </style>
    </head>
    <body>
        <a target="_blank" href="{% url 'survey' survey_id %}{% if source %}?source={{ source }}{% endif %}">Give us your feedback</a>
    </body>
</html>
